consumerkey	Y.......................6
consumersecret	Z................................................W

token		9.................-..............................s
tokensecret	p...........................................c

message		nootnoot
picsdir		/opt/noots/pics

